/nbproject/private/
/app/logs/
/app/cache/*
*php~
/web/bundles/
.*
!/.gitignore
!.htaccess
src/LFP/StructuralAnks/MainBundle/Resources/public/jmol/anksdb
src/LFP/StructuralAnks/MainBundle/Resources/public/anksdb