{%extends "LFPStructuralAnksMainBundle::base.html.twig"%}

{%set current = 'Browse'%}

{%block container%}

<h2>Structures present in the Database </h2>
<div id="browser-accordion" class="browse-results-scroll">
    {% for pdb in pdbs %}
        <h3 style="text-align: left">{{ pdb.pdbID }}, {{ pdb.title }}</h3>
        <div>
            {%for chain in pdb.chains %}
                {{chain.chain}}<br/>
            {% endfor %}
        </div>
    {% endfor %}
    </div>

{%endblock%}