{%extends "LFPStructuralAnksMainBundle::base.html.twig"%}

{%set current = 'Home'%}

{%block container%}
<p>Pdb: {{pdbId}}</p>
<div id="jmol"></div>
<div id="charts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{%endblock%}