{%extends "LFPStructuralAnksMainBundle::base.html.twig"%}

{%set current = 'Home'%}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lfpstructuralanksmain/js/highcharts.js ') }}" type="text/javascript"></script>    
    <script src="{{ asset('bundles/lfpstructuralanksmain/js/modules/exporting.js ') }}" type="text/javascript"></script>    
    
    {% include 'LFPStructuralAnksMainBundle:Home:jscharts.html.twig' with {'options':chartOptions}%}
    
{% endblock %}



{%block container%}
<p>Pdb: {{pdbId}}</p>
<div id="jmol"></div>
<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

{%endblock%}