/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2014, 5:44:18 PM
    Author     : darkx
*/

.ui-accordion .ui-accordion-header {
    font-size: 12px;
    font-weight: normal;
    padding: 0.3em 0.3em 0.3em 2em !important;
}

.ui-accordion .ui-accordion-content {
    font-size: 12px;
    font-weight: normal;
    padding: 0.3em 0.5em !important;
}

.browse-results-scroll{
    overflow: auto;
    height: 400px;
    width: 900px;
    margin: 0 auto;
}

.main-box
{
    min-height: 20em;
}

.div-center
{
    margin: 0 auto;
}
.show-image
{
    display: inline-block;
    vertical-align: top;
}


#head-table-container
{    
    width: 600px;
}

#head-table
{
    border: 1px #6F6F6F solid;
    border-collapse: collapse;
}

#head-table th, #head-table td
{
    border: 1px #6F6F6F solid;
    padding: 5px;
}
#head-table th
{
    background: #ddd;
    text-align: center;
}
#head-table td
{
    background: #eeeeee;
    text-align: center;
}

#toggle-container
{
    display: none;
}
#chains
{
    display: none;
}

/* Filter From stylesheet*/
#filter-form-button{
    margin: 5px 0px 0px 0px;
}
.filter-form-box form {
    margin: 0px !important;
}
.filter-form-box form label{
    font-weight: normal;
}