/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2014, 5:44:18 PM
    Author     : darkx
*/

.ui-accordion .ui-accordion-header {
    font-size: 12px;
    font-weight: normal;
    padding: 0.3em 0.3em 0.3em 2em !important;
}

.ui-accordion .ui-accordion-content {
    font-size: 12px;
    font-weight: normal;
    padding: 0.3em 0.5em !important;
}

.browse-results-scroll{
    overflow: auto;
    height: 400px;
    width: 900px;
    margin: 0 auto;
}

.main-box
{
    min-height: 20em;
}

.div-center
{
    margin: 0 auto;
}
.show-image
{
    display: inline-block;
    vertical-align: top;
}


#head-table-container
{    
    width: 600px;
}

#head-table
{
    border: 1px #6F6F6F solid;
    border-collapse: collapse;
}

#head-table th, #head-table td
{
    border: 1px #6F6F6F solid;
    padding: 5px;
}
#head-table th
{
    background: #ddd;
    text-align: center;
}
#head-table td
{
    background: #eeeeee;
    text-align: center;
}

#toggle-container
{
    display: none;
}
#chains
{
    display: none;
}
#sequence
{
    width: 400px;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    font-family: monospace;
    display:inline-block;
    vertical-align: top;
}
#chain-head-info
{
    border: #A2A2A2 solid 1px;
    margin:0 auto;
    padding: 10px 10px 10px 30px;
    width:400px;
    text-align: left;
}
#jmol-show
{
    display:inline-block;
    vertical-align: top;
}


.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel li {
    float: left;
    width: 100px;
}

/* Filter From stylesheet*/
#filter-form-button{
    margin: 5px 0px 0px 0px;
}
.filter-form-box form {
    margin: 0px !important;
}
.filter-form-box form label{
    font-weight: normal;