<html>
    <head>
    {%block javascripts %}{%endblock%}
    {%block stylesheets %}{%endblock%}
    </head>
    <body>
        Hola Mundo<br/>
        {% block container %}
        asdgfadkfu
        {% endblock %}
    </body>
</html>